.add-area {
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 1%;
}

.input-fields {
  margin: 2%;
}

.genre {
  display: inline-block;
}

.submit {
  height: 5%;
  width: 8%;
}

input[type=submit] {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding:5px 15px;
  background:#337ab7;
  color: #fff;
  border:0 none;
  border-color: #fff;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  outline: 0;
}

#home-search {
  padding: 10px 30px;
  font-size: 15px;
}

#search-box {
  background-color: black;
  border: 1px solid #337ab7;
  line-height: 0;
  font-size: 17px;
  box-sizing: border-box;
  padding: 5px 10px;
  border-radius: 60px;
  color: #fff;
  font-weight: 100;
  letter-spacing: 0.01em;
  margin-left: 50px;
  margin-right: 20px;
  outline: 0;
}

#search-box-big {
  background-color: black;
  border: 1px solid #337ab7;
  line-height: 0;
  font-size: 17px;
  box-sizing: border-box;
  padding: 10px 10px;
  border-radius: 60px;
  color: #fff;
  font-weight: 100;
  letter-spacing: 0.01em;
  outline: 0;
  width: 80%;
  margin-right: 5%;
}

#search-form {
  margin-top:10%;
  margin-right:10%;
  margin-left:10%;
}

#heading {
  font-weight: 90;
}

input:-webkit-autofill {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
}

tr {
  color: white;
  font-weight: 130;
}

p, h1, h3 {
  color: white;
  font-weight: 150;
}

table a {
  color: #337ab7;
  font-weight: 300;
  display: inline-block;
  position: relative;
  text-decoration: none !important;
}

table a:hover:before {
  width: 0;
}

table a:before {
  background-color: #337ab7;
  content: '';
  height: 1px;
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out;
  width: 100%;
}


tr:hover {
  color: black;
  background-color: white;
}

html {
  background-image: url("binding_dark.png");
}
body {
  background-image: url("binding_dark.png");
  overflow: auto;
}
